{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% assign featured_collection = collections.all %}


<div class="px-11 py-8">
  <div class="max-w-l mx-auto">
    <ul class="collection-list grid grid--5-col-desktop grid--2-col-tablet-down" role="list">
      {% for product in featured_collection.products %}
        <li
          class="collection-list__item grid__item scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        >
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            lazy_load: lazy_load,
            skip_styles: skip_card_product_styles,
            quick_add: section.settings.quick_add,
            section_id: section.id
          %}
        </li>

      {% else %}
        <p>There are no products inside of this collection</p>
      {% endfor %}
    </ul>
  </div>
</div>


<!-- USANDO GRID (CHINO) -->
{% comment %}
  <div class="px-11 py-8">
    <div class="max-w-l mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
        {% for product in featured_collection.products %}
          {% render 'card-product', product: product %}

        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endcomment %}
